[workspace]
name = "moonup"
authors = ["Chawye Hsu <su+git@chawyehsu.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
build = "cargo build"
build-release = "cargo build --release"
test-all = "cargo insta test --review --all-features"

[dependencies]
actionlint = ">=1.7.8,<2"
pre-commit = ">=4.1.0,<5"
pre-commit-hooks = ">=5.0.0,<6"
typos = ">=1.29.5,<2"
# build dependencies
rust = "~=1.82.0"
rust-src = "~=1.82.0"
c-compiler = ">=1.9.0,<2"     # MSVC v142/VS2019 Build Tools is required on Windows
openssl = ">=3.4.0,<4"
pkg-config = ">=0.29.2,<0.30"
